**/bin/**
**/obj/**
**/.vs/**
**/__pycache__/**
**/.idea/**
**/.vscode/**
**/.junie/**
*.user

.flatpak-builder/
.flatpak-work/
flatpak-build/
flatpak-repo/
*.flatpak

RaylibUI/run-log.txt
/RaylibUI/screenshot*.png
/growth_diff.txt
